{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Software Engineer and DevOps advocate.</h3>
        <h3>This blog will address some topics that are somewhat interesting to me.</h3>
        <h3>Ranging from software development to managing your kubertenes clusters</h3>
        <h3>Contact me at <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}">@{{ .Site.Params.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
